include mainsail.cfg]
[include daves_macros.cfg]

[virtual_sdcard]

path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

###########################################
# MCU
###########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_3D003A000F51313236343430-if00
baud: 250000
restart_method: command

[force_move]
enable_force_move: True

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 1000
max_z_velocity: 50
max_z_accel: 30

[board_pins]
aliases:
   aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

###########################################
# Steppers
###########################################

[stepper_x] #Motor 1
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 32
endstop_pin: ^PF4 #remove this for sensorless homing - more than just this, look it up! Also probably have to change stepper controllers because of clipped off diag pin  
position_min: -22
position_endstop: -22
homing_retract_dist: 10
position_max: 277
homing_speed: 75

[tmc2209 stepper_x]
uart_pin: PC13
#diag_pin: PE12  # this is for sensorless homing
run_current: .96
interpolate: False

[stepper_y] #Motor 2
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 16
endstop_pin: ^PF3 #remove this for sensorless homing - more than just this, look it up! Also probably have to change stepper controllers because of clipped off diag pin
rotation_distance: 32
position_endstop: 0
position_min: 0
position_max: 295
homing_speed: 75
homing_retract_dist: 10

[tmc2209 stepper_y]
uart_pin: PE3
#diag_pin: PB10  #this is for sensorless homing
run_current: .96
interpolate: False

[stepper_z] #Motor 3
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
endstop_pin: probe:z_virtual_endstop
homing_positive_dir: false
homing_speed: 50
microsteps: 16
rotation_distance: 32
position_max: 285
position_min: -20

[tmc2209 stepper_z]
uart_pin: PB9
run_current: .96
interpolate: False

[stepper_z2] #Motor 5
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
microsteps: 16
rotation_distance: 32

[tmc2209 stepper_z2]
uart_pin: PG14
run_current: .96
interpolate: False

[stepper_z1] #Motor 6
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
microsteps: 16
rotation_distance: 32

[tmc2209 stepper_z1]
uart_pin: PG10
run_current: .96
interpolate: False

#####################################
# Homing
#####################################

[bltouch]
sensor_pin: ^PD13
control_pin: PD12
probe_with_touch_mode: true
x_offset: -28.2
y_offset: -36.69
#z_offset: 2.16

[homing_override]
gcode:
      
      #G0 F2000 Z2
      G28 X Y
      G0 F3500 X137.5 Y140
      G28 Z
      G0 F3500 Z15
      _cztilt                  ####### this macro runs z_tilt_adjust only if it needs to
      G0 F3000 X137.5 Y140 Z15
          
axes: Z                        ####### Ony affects z axis (or all axes) homing

[z_tilt]
z_positions: 157, 290   #z
              22, 35    #z1
             277, 35    #z2
points:      157, 290   #z
              22, 35    #z1
             277, 35    #z2

speed: 350
horizontal_move_z: 10
retries: 20
retry_tolerance: 0.0075

#####################################
# Extruder
#####################################

[extruder] #motor 7
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
microsteps: 16
rotation_distance: 8.06
nozzle_diameter: 0.600
filament_diameter: 1.730
heater_pin: PA0 # Heat0
sensor_pin:  PB0 # TH0 Header
sensor_type: ATC Semitec 104GT-2
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: PD5
run_current: 0.96
interpolate: False
stealthchop_threshold: 999999

[firmware_retraction]

[heater_bed]
heater_pin: PF5
sensor_pin: PB1 # THB HEADER
sensor_type: Generic 3950
min_temp: 0
max_temp: 130

###########################################
# Fans
###########################################

[fan]  #Print Cooling Fan - FAN0
pin: PF9

[controller_fan Extruder_Heatsink]  #Extruder Heatsink Fan FAN1
pin: PF7
heater: extruder

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 3.240
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.560
#*# pid_ki = 0.665
#*# pid_kd = 115.899
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.157
#*# pid_ki = 0.935
#*# pid_kd = 1206.312
#*# control = pid
#*# pid_kp = 67.157
#*# pid_ki = 0.935
#*# pid_kd = 1206.312
